.calendar-top, .calendar-box{ display: flex; flex-wrap: wrap; margin: 0 1%}
.calendar-top > div, .calendar-box > div{width: 14%; height: .6rem; text-align: center; line-height: .6rem; font-size: .24rem; border-bottom: #dddddd solid 1px}
